/* VARIABLES */
:root {
    font-size: 62.5%;
    --color-background: #babdbe;
    --color-main: #001524;
    --color-second: #dfe3ea;
    --color-third: #ffecd1;
    
   
}

/* GENERAL STYLES */
body {
    background-color: var(--color-background);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text);
}

/* HEADER */

.header {
    position: sticky;
    top: 0;

    width: 100%;
    
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    z-index: 99;
    }

.header__heading{
    display: flex;
    background-color: var(--color-main);
    color: var(--color-text);
}

.header__icon {
    height: 10rem;
    width: 10rem;
    background-color: yellow;
    border-radius: 2rem;
}

.header__name{
    width: 100%;
    color: var(--color-third);
    text-align: center;
}

.header__contact {
    display: flex;
    justify-content:center;
    margin: auto;
    width: 96%;
    background-color: var(--color-third);
    border-radius: 6rem;
    overflow: hidden;
}

.header__contact__icon{
   color: var(--color-main);
   background-color: rgb(151, 246, 9);
   height: 6rem;
   margin: 1.5rem;
   border-radius: 5rem;
}


/* NAV-BAR */

.nav-bar {
    /* height: 50rem; */
    background-color: var(--color-main);

    color: var(--color-text);
}




.nav-bar__item {
    display: none;
    padding: 2rem;
}

.nav-bar__toggle {
    text-align: center;
    position:absolute;
    right: 2rem;
    top: .1rem;
    font-size: 4rem;
}

/* HERO */

.large-logo {
    /* background-color: var(--color-background); */
}

.hero__offer {
    position: absolute;
    top: 31rem;
    left: 52vw;
    
    padding: 3rem;
    width: 50rem;

    /* color: rgb(36, 87, 228); */
    font-weight: bold;
    font-size: 4.3rem;
    
    background-image: url("/assets/images/brush-stroke4.png");
    background-size: 40rem;
    background-repeat: no-repeat;
    background-color: transparent;
    rotate: 45deg;
}

.logo-img {
    max-height: 50rem;
    margin: 3rem auto;
    background-color: yellow;
    border-radius: 10rem;
}

.hero__text {
    margin: 3rem;
    color: yellow;
    background-color: var(--color-main);
    border-radius: 3rem;
    text-align: center;
}

.hero__img {
    margin: 3rem;
    overflow: hidden;
    border-radius: 3rem;
}

.hero__img img {
    width: 100vw;
}

.map {
    margin: 3rem;
}

.map iframe{
    width: 100vw;
    border-radius: 3rem;
}

/* STEPS */

.steps {
    height: 80rem;
    background-color: var(--color-main);
    text-align: center;
}

.steps__header{
    width: 80%;
    padding: 3rem;
    margin: auto;

    font-size: 3.5rem;

    border: solid 10px var(--color-main);
    background-color: var(--color-third);
    border-radius: 9rem;
}

.steps__square {
    margin: 1rem 2rem;
    text-align: center;
    overflow: hidden;
    border-radius: 2rem;
}

.steps__square--top {
    height: 25rem;
    padding-top: 3rem;
    background-color: var(--color-main);
    color: var(--color-background);
}

.steps__square--bottom {
    height: 25rem;
    padding-top: 3rem;
    background-color: var(--color-third);
    color: var(--color-main);
}

.steps__square--animation{
    position: relative;

    animation-name: lavado;
    animation-duration: 5s;

    animation-iteration-count: infinite;
    border-radius: 3rem;
    /* border: solid red; */


}

@keyframes lavado {
    0%   {left:100vw; font-size: 4rem; color: var(--color-main); background-color: yellow;}
    25%  {left:0vw; font-size: 4rem; color: yellow; background-color: var(--color-main);}
    50%  {left:0vw; font-size: 4.5rem;  color: yellow; background-color: var(--color-main);}
    75%  {left:0vw; font-size: 4rem; color: yellow; background-color: var(--color-main);}
    100% {left:-100vw; font-size: 4rem; color: var(--color-main); background-color: yellow;}
}

.square__icons--large {
    font-size: 10rem;
}

.square__icons--midium {
    font-size: 8rem;
    margin: 1rem;
}

.steps span {
    display: block;
    color: var(--color-text)
}

/* Reviews */

.reviews {
    /* height: auto; */
}

.reviews__headings{
    text-align: center;
    margin: 2rem;
}

.reviews__box {
    width: 85%;
    padding: 2rem;
    margin: 1rem auto;
    background-color: var(--color-second);

    font-size: 2rem;
    border-radius: 1rem;
    border: solid var(--color-main) 1px;
}

.reviews__starts {
   display: flex; 
}

.reviews__starts li {
    
    color: green;
}

.reviews__box small {
    font-weight: bold;
}

/* SOCIAL  */

.social {
    width: 100%;
    height: 10rem;;
    display: flex;
    justify-content: space-evenly;
    color: var(--color-main);
    font-size: 4rem;
    /* color: var(--color-background); */
    background-color: var(--color-third);
    line-height: 10rem;;
}

/* FOOTER  */


.footer {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 6vw;
    color: var(--color-background);
    background-color: var(--color-main);
}


.footer_contact {
    width: 35vw;
}

.contact__title {
    font-size: 6rem;
}

.contact__p {
    font-size: 3rem;
}

.footer__form {
    width: 45%;
    font-size: 3rem;
}

.form__box {
    height: 5rem;
    outline: 30;
    border-width: 0 0 2px; 
    margin-bottom: 3vw; 
}


.form__button {
    position: relative;
    left: 12rem;
    /* outline: 0; */
    border-width: 0 0 6px; 
    background-color: var(--color-third);
    color: var(--color-main);

}

.fotter__copyright {
    font-size: 2rem;
    text-align: center;
}
